/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

                /* -------------------------------------
                Website Site Style Sheet Start 
                ---------------------------------------*/   

/*-----------------------
 Common Styles 
 ------------------------*/
 *{
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
 }

 .container{
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    padding:0 30px;
}

/* --------------------------
Header Section Style Start 
-----------------------------*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 30px;
    width: 100%;  
}

.site-logo{
    display: flex;
    width: 100%;
    font-size: 24px;
    font-weight: 700px;
    cursor: pointer;
}
.site-logo:hover{
    display: flex;
    width: 100%;
    font-size: 24px;
    font-weight: 700px;
    color: tomato;
}

ul li{
    list-style: none;
    display: flex;
    
}

ul li a{
    text-decoration: none;
    color: #3A3A3A;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}
ul li a:hover{
    text-decoration: none;
    color: #f50202;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

/* --------------------------
Welcome Sceen Style Start 
-----------------------------*/
.welcome-title{
    font-size: 52px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: welcome-animition 3s infinite ease-in-out;
}

/* Welcome Animation Style Start */
@keyframes welcome-animition {
    from { 
        width: 0;
    }
    to { 
        width: 100%; 
    }
  }

/* Welcome Animation Style Start END */
.welcome-sceen-left{
    width: auto;
    margin: 100px auto;
    padding-right: 20px;
}

.welcome-sceen-right{
    margin: 50px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.welcome-sceen-right img{
    width: 440px;
    height: 414px;
}

.welcome-sceen-left p{
    font-size: 16px;
    color: #3A3A3A;
    line-height: 25px;
    margin-bottom: 5px; 
}

.primary-button{
    color: cornsilk;
    background-color: crimson;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 30px;
    margin-top: 10px;
    border: 0;
    transition: background-color  1s ease-in ;
    box-shadow: 0px 5px 0px rgb(250, 6, 6);
    cursor: pointer;
}

.primary-button:hover{
    color: cornsilk;
    background-color: green;
    font-size: 16px;
    border-radius: 30px;
    transform: scale(5px);
    box-shadow: 0px 5px 0px rgb(78, 2, 2);
    border: 0;
}

/* ----------------------------------
Middle Popular Product  Collection Style Start  
-------------------------------------*/
.section-title{
    color: rgb(12, 10, 6);
    text-align: center;
    font-size: 28px;
}

.section-title span{
    color: orange;
}

.popular-colection{
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

.section-title{
    font-size: 28px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.product img{
    width: 300px;
    height: 256px;
    margin: 0;
}

.product-details h3{
    font-size: 28px;
    margin: 0px;
}

.product-details .price{
    font-size: 24px;
    margin: 0;
}

.price-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.order-button{
    display: flex;
    flex-direction: row;
    color: cornsilk;
    background-color: crimson;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 30px;
    border: 0;
    transition: background-color  1s ease-in ;
    box-shadow: 0px 5px 0px rgb(250, 6, 6);
    cursor: pointer;
}

.order-button:hover{
    color: cornsilk;
    background-color: green;
    font-size: 16px;
    border-radius: 30px;
    transform: scale(5px);
    box-shadow: 0px 5px 0px rgb(78, 2, 2);
    border: 0;
}

.ratting{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    margin-bottom: 0px;
}

.product-details>.product-info{
    margin: 0px;
    font-size: 14px;
}

.ratting p{
    padding-left: 15px;
}

.fa-star, .fa-star-half-alt{
    color: orange;
}

/*--------------------------
 Contact Section Style START
 --------------------------- */
 .contact{
     margin: 0 auto;
     padding: 50px;
     width: 80%;
     box-shadow: 0px 5px 0px rgb(78 2 2);
     border-radius: 20px;
     background-color: rgb(240, 224, 224);
 }

 .contact-us{
     display: grid;
     grid-template-columns: repeat(2, 1fr); 
     
 }

 .contact-from{
     background-color: blanchedalmond;
     width: 100%;
     padding: 10px;
     margin: 5px;
     border-radius: 10px; 
 }

input[type=text], textarea{
     width: 100%;
     padding: 10px;
     color:blue;
     background-color: white;
     border: 0;
 }

 input[type=phone]{
    width: 100%;
    padding: 10px;
    color:blue;
    background-color: white;
    border: 0;
}

input[type=mail]{
    width: 100%;
    padding: 10px;
    color:blue;
    background-color: white;
    border: 0;
}

.submit-button{
    color: white;
    background-color: red;
    padding: 8px 20px;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    transition: background-color  1s ease-in ;
    box-shadow: 0px 5px 0px rgb(41, 15, 15);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.submit-button:hover{
    color: cornsilk;
    background-color: green;
    font-size: 20px;
    border-radius: 10px;
    transform: scale(5px);
    box-shadow: 0px 5px 0px rgb(78, 2, 2);
    border: 0;

}

.address{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 20px;
}


/*--------------------------
 Footer Section Style Start 
 ---------------------------*/
 footer{
     text-align: center;
     background-color: rgb(2, 2, 54);
     padding: 20px;
     color: white;
 }   

 .socials{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .social{
    margin: 10px;
    background-color: rgba(102, 99, 102, 0.63);
    color: white;
    font-size: 15px;
    border-radius: 50px;
    padding: 5px;
}

/*============================
 Mobile Responsive Style 
 =============================*/
 @media (max-width:480px){
     .container{
         display: flex;
         flex-direction: column;
         padding: 50px;
         margin: 0;
     }

    .welcome-sceen-left{
        align-items: center;
        margin: 0;
        padding-left: 50px;
        justify-content: center;
        order: 2;
    }

    .welcome-sceen-left p{
        width: 100%;
        align-content: center;
        justify-content: space-between;
        margin: 0px;
    }

    .welcome-sceen-left h1{
        font-size: 22px;
        text-align: center;
        justify-content: center;
    }

    .primary-button{
        align-content: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 60px;
        margin-top: 20px;
    }

    .welcome-sceen-right img{
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .section-title{
        display: inline-flex;
        gap: 10px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .product-list{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: fit-content;
        padding-left: 50px;
    }

    .contact{
        width: 100%;
        height: fit-content;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .contact-us{
        width: 100%;
        height: fit-content;
        margin: 10px;
        padding-right: 30px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-from{
        width: 100%;
        padding-right: 50px;
    }

    .address{
        width: 100%;
        margin-top: 20px;
    }

 }
 
 @media only screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin: 0;
    }

   .welcome-sceen-left{
       align-items: center;
       margin: 0;
       padding-left: 50px;
       justify-content: center;
       order: 2;
   }

   .welcome-sceen-left p{
       width: 100%;
       align-content: center;
       justify-content: space-between;
       margin: 0px;
   }

   .welcome-sceen-left h1{
       font-size: 35px;
       text-align: center;
       justify-content: center;
   }

   .primary-button{
       align-content: center;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-left: 200px;
       margin-top: 20px;
   }

   .welcome-sceen-right img{
       width: 100%;
       margin: 0;
       align-items: center;
       justify-content: center;
       align-content: center;
       flex-direction: column;
   }

   .section-title{
       text-align: center;
   }

   .product-list{
       display: grid;
       grid-template-columns: 1fr;
       width: 100%;
       align-items: center;
       justify-content: center;
       align-content: center;
       height: fit-content;
   }

   .contact{
       width: 100%;
       height: fit-content;
       margin: 10px;
       display: grid;
       grid-template-columns: 1fr;
       align-content: center;
       align-items: center;
       justify-content: center;
   }
   
   .contact-us{
       width: 100%;
       height: fit-content;
       margin: 10px;
       padding-right: 30px;
       display: grid;
       grid-template-columns: 1fr;
   }

   .contact-from{
       width: 100%;
       padding-right: 50px;
   }

   .address{
       width: 100%;
       margin-top: 20px; 
   }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin: 0;
    }

   .welcome-sceen-left{
       align-items: center;
       margin: 0;
       padding-left: 50px;
       justify-content: center;
       order: 2;
   }

   .welcome-sceen-left p{
       width: 100%;
       align-content: center;
       justify-content: space-between;
       margin: 0px;
   }

   .welcome-sceen-left h1{
       font-size: 35px;
       text-align: center;
       justify-content: center;
   }

   .primary-button{
       align-content: center;
       justify-content: center;
       align-items: center;
       display: flex;
       margin-left: 200px;
       margin-top: 20px;
   }

   .welcome-sceen-right img{
       width: 100%;
       margin: 0;
       align-items: center;
       justify-content: center;
       align-content: center;
       flex-direction: column;
   }

   .section-title{
       text-align: center;
   }

   .product-list{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       width: 100%;
       align-items: center;
       justify-content: center;
       align-content: center;
       height: fit-content;
   }

   .contact{
       width: 100%;
       height: fit-content;
       margin: 10px;
       display: grid;
       grid-template-columns: 1fr;
       align-content: center;
       align-items: center;
       justify-content: center;
   }
   
   .contact-us{
       width: 100%;
       height: fit-content;
       margin: 10px;
       padding-right: 30px;
       display: grid;
       grid-template-columns: 1fr;
   }

   .contact-from{
       width: 100%;
       padding-right: 50px;
   }

   .address{
       width: 100%;
       margin-top: 20px; 
   }
}

