/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

                /* -------------------------------------
                Website Site Style Sheet Start 
                ---------------------------------------*/   

/*-----------------------
 Common Styles 
 ------------------------*/
 body{
     margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    
    
 }

 /* ------------------------
 header styles Start 
 ---------------------------*/
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 95px, 120px;
}


.logo-title{
    font-size: 24px;
    margin-left: -200px;
}

.main-menu a{
    color: #3A3A3A;
    text-decoration: none;
    font-size: 16px;
    margin: 15px;
}
/* ------------------------
 header styles END 
 --------------------------*/


/* ------------------------------
Top Section Styles Start 
---------------------------------*/
.top-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 95px, 120px;
    position: relative;
    
}
.order-now{
    color: white;
    background-color: rgb(102, 20, 6);
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 1s;
    cursor: pointer;
}
.order-now:hover{
    color: white;
    background-color: green;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    
}
.top-product{
    width: 800px;
}
.top-product1{
    margin-left: 20%;
}

.top-product2 img{
    width: 440px;
    height: 414px;
    
}
.top-banner-title{
    position: absolute;
    top: 0%;
    font-size: 52px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s infinite;
}
@keyframes typewriter{
    from{width: 0;
        background-color: white;}
    to{width: 16em;
        background-color: green;}
  }
  

/* @keyframes typing {
    0%{
        content: Start|;
    }
    25%{
        content: your|;
        
    }
    50%{
        content: Journey|;
    }
    75%{
        content: as|;
    
    }
    100%{
        content: Influencer;
    }
} */

footer{
    width: 100%;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 32px;
}

.social-icon .social{
    width: 32px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.76);
    border: 0.5px solid rgba(128, 128, 128, 0.76);
    border-radius: 50%;
    padding-top: 8px ;
    color: white;

}

/* ------------------------------
Product Section Styles Start
--------------------------------- */
.Popular-collection{
    width: 800px;
    
}
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-column-gap: 20px;
    margin: 10px;
    width: 800px;
    
}

.product img{
    width: 300px;
    height: 256px;
}

